:root {
    --confettiHeight: 100vh;
    --confettiWidth: 100vw;
}

body {
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

/*------------------------ Landscape ------------------------ */

@media (min-aspect-ratio: 4/3)  {
    #initialLogo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        opacity: 1;
        background-color: rgb(27, 27, 27);
        animation: hideLogoBackground linear 2.5s;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        z-index: 101;
        opacity: 0;
        width: min(15vw, 15vh);
        height: min(15vw, 15vh);
        animation: showLogo linear 2.5s forwards;
    }
    @keyframes showLogo {
        0%, 10%, 75%, 100% {
            opacity: 0;
        }
        30%, 55% {
            opacity: 1;
        }
    }
    @keyframes hideLogoBackground {
        0%, 90% {
            height: 100vh;
            opacity: 1;
            display: flex;
        }
        100% {
            height: 100vh;
            opacity: 0;
            display: none;
        }
    }
    #mainIndex {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -10;
        padding-top: 5%;
        transition: all 1.5s;
    }
    .mainIndexStart {
        scale: 1;
        opacity: 1;
    }
    .mainIndexEnd {
        scale: 0.5;
        opacity: 0;
    }

    #introTextContainer {
        height: max-content;
        width: 26.5vw;
        margin: 0 150px 0 -1vw;
    }
    .redText {
        color: #af6969;
    }
    .blackText {
        color: #252525;
    }
    .whiteText {
        color: #dcdcdc;
    }
    .boldText {
        font-weight: bolder;
    }
    
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 4.9vw;
        margin-top: 0;
    }
    
    h2 {
        font-family: Roboto, 'Gill Sans';
        font-size: 2.3vw;
        margin-bottom: 20px;
    }
    
    p {
        font-family: Roboto, 'Gill Sans';
        margin: 0;
        font-size: max(1.05vw, 6pt);
        width: max-content;
        height: max-content;
    }
    li {
        list-style-type:circle;
    }

    #homeTitle, #homeSubtitle, #homeText {
        width: 100%;
    }

    #homeTitle {
        margin-bottom: 20%;
    }

    #navDisplayer {
        display: none;
    }
    #navContainer {
        width: 10%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .navContainer {
        width: 0;
        opacity: 0;
        transition: all .5s;
    }
    .navContainerStart {
        transition-delay: 1s;
        opacity: 1;
        translate: 0 0;
    }
    .navContainerEnd {
        opacity: 0;
        translate: -100% 0;
    }
    
    #scrollTop {
        width: 30%;
        aspect-ratio: 1;
        position: relative;
        text-decoration: none;
        border: none;
        transition: all .2s;
        background-color: transparent;
        background-image: url("../imgs/home.png");
        background-size: 90%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: .5;
        margin: 0 auto;
        z-index: 91;
    }
    #scrollTop:hover {
        cursor: pointer;
        background-size: 100%;
        opacity: 1;
    }

    .menuButton {
        width: 90%;
        height: max-content;
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: #dcdcdc;
        text-align: center;
        font-size: 1vw;
        scale: 1;
        opacity: .5;
        margin: 0 auto;
        padding: 0;
        z-index: 91;
        transition: all .15s;
    }
    .menuButtonLighten {
        scale: 1.1;
        opacity: 1;
    }
    .menuButton:hover {
        cursor: pointer;
        scale: 1.1;
        opacity: 1;
    }
    .betweenMenu {
        width: 3%;
        aspect-ratio: 1;
        background-color: #dcdcdc;
        border-radius: 50%;
        z-index: 91;
        margin: 0 auto;
        opacity: .5;
    }

    #profilePic {
        height: 26vw;
        width: 26vw;
        border-radius: 50%;
        box-shadow: 0 0 1.5vw 2px rgb(0, 0, 0), 0 0 0 1vw rgb(175, 105, 105);
    }
    
    .arrowsContainer {
        width: 100vw;
        margin-top: -150px;
    }
    .arrow {
        height: 2.5vw;
        aspect-ratio: 1;
        border-right: 0.25vw solid;
        border-bottom: 0.25vw solid;
        transform: rotate(45deg);
        margin: -1.5vw auto 0;
        opacity: 0;
    }
    #arrow1 {
        animation: arrowGlow 2s linear infinite;
    }
    #arrow2 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.3s;
    }
    #arrow3 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.6s;
    }
    @keyframes arrowGlow {
        0%, 40%, 100% { opacity: 0; }
        20% { opacity: 1; }
    }

    .mainCoversContainer {
        position: sticky;
        width: 100vw;
        height: 120vh;
        z-index: -1;
        display: flex;
        align-items: start;
        justify-content: center;
        margin: 0;
        padding: 0;
        top: -20vh;
    }
    .mainCovers {
        background-color: #1b1b1b;
        position: sticky;
        top: 0;
        width: 8.5%;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 1;
    }

    .detector {
        z-index: 999;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
    }
    .mainCoversEnd {
        height: 100vh;
        background-color: #1b1b1b;
        animation: mainCoversAnimReversed .5s linear forwards;
    }
    @keyframes mainCoversAnimReversed {
        from {
            background-color: #1b1b1b;
            height: 100vh;
        }
        to {
            background-color: #af6969;
            height: 0;
        }
    }
    .mainCoversStart {
        animation: mainCoversAnim .5s linear forwards;
    }
    @keyframes mainCoversAnim {
        from {
            background-color: #af6969;
            height: 0;
        }
        to {
            background-color: #1b1b1b;
            height: 100vh;
        }
    }
    .mainCovers:nth-child(1), .mainCovers:nth-child(5), .mainCovers:nth-child(10) {
        animation-delay: 0s;
    }
    .mainCovers:nth-child(2), .mainCovers:nth-child(7), .mainCovers:nth-child(9) {
        animation-delay: .2s;
    }
    .mainCovers:nth-child(3), .mainCovers:nth-child(6), .mainCovers:nth-child(11) {
        animation-delay: .6s;
    }
    .mainCovers:nth-child(4), .mainCovers:nth-child(8), .mainCovers:nth-child(12) {
        animation-delay: .4s;
    }

    .blackBg {
        background-color: rgb(27, 27, 27);
    }
    .redBg {
        background-color: rgb(175, 105, 105);
    }
    .whiteBg {
        background-color: rgb(220, 220, 220);
    }

    .sectionDetector {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 10px;
        top: 30%;
    }

    #aboutMeContainer {
        width: 75vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .aboutMeContainer {
        margin: 0vh auto 0;
        scale: .8;
        opacity: 0;
        transition: scale 2s, margin 2s, opacity .3s;
        transition-timing-function: ease-in-out;
    }
    .aboutMeContainerStart {
        margin: -50vh auto 0;
        scale: 1;
        opacity: 1;
    }
    .aboutMeContainerEnd {
        margin: 0vh auto 0;
        scale: .8;
        opacity: 0;
    }
    .aboutMeContainerHide {
        transition: all 0s;
        margin: 0vh auto 0;
    }

    #keepScrolling {
        width: 100%;
        height: 100px;
        position: absolute;
        top: -25%;
        color: #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: transparent;
        background-image: url("../imgs/keepScrollingArrow.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px;
        font-weight: bolder;
        font-size: large;
        opacity: 0;
        transition: all .5s;
    }
    .aboutMeContainerStart > #keepScrolling {
        transition-delay: 3s;
        opacity: 1;
    }
    .aboutMeContainerEnd > #keepScrolling {
        transition-delay: 0s;
        opacity: 0;
    }
    .aboutMeContainerHide > #keepScrolling {
        transition-delay: 0s;
        opacity: 0;
    }

    #aboutMeTextContainer {
        width: 33vw;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 0 13vw;
    }
    
    .aboutMeText {
        margin-top: 20px;
    }

    #aboutMeWheelContainer {
        position: relative;
        width: 26vw;
        height: 26vw;
        z-index: 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        transform: rotateZ(0deg);
    }
    #wheel {
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 26vw;
        height: 26vw;
        scale: 1;
        translate: -50% -50%;
        border-radius: 100%;
        transition: none;
        background-image: url("../imgs/wheel.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
        transform: rotateZ(0);
    }
    .wheelText {
        margin: 0;
        padding: 0;
        z-index: 6;
        position: absolute;
        width: 70%;
        top: 50%;
        left: 50%;
        height: max-content;
        scale: 1;
        translate: -50% -50%;
        text-align: right;
        font-weight: bolder;
    }
    .wheelText:nth-child(1) {
        transform: rotateZ(15deg);
    }
    .wheelText:nth-child(2) {
        transform: rotateZ(75deg);
    }
    .wheelText:nth-child(3) {
        transform: rotateZ(135deg);
    }
    .wheelText:nth-child(4) {
        transform: rotateZ(195deg);
    }
    .wheelText:nth-child(5) {
        transform: rotateZ(255deg);
    }
    .wheelText:nth-child(6) {
        transform: rotateZ(315deg);
    }
    #aboutMePPic {
        z-index: 10;
        width: 100%;
        height: 100%;
        border-radius: 50% 0 50% 50%;
        box-shadow: 0 0 1.5vw 2px rgb(0, 0, 0), 0 0 0 1vw rgb(175, 105, 105);
        transition: all .2s ease-out;
        transform: rotateZ(0deg);
        background-color: #dcdcdc;
    }
    #PPicImg {
        width: 100%;
        height: 100%;
        border-radius: 50% 0 50% 50%;
        opacity: 1;
        scale: 1;
        transition: opacity .2s linear;
    }
    #aboutMeWheelContainer:hover {
        cursor: pointer;
    }
    #aboutMeWheelContainer:hover > #wheel {
        transition: transform 4s;
        /*transform: rotateZ(960deg);*/
    }

    @keyframes spinPPic {
        from {
            transform: rotateZ(2160deg);
        }
        to {
            transform: rotateZ(0deg);
        }
    }
    @keyframes spinWheel {
        from {
            transform: rotateZ(-2160deg);
        }
        to {
            transform: rotateZ(0deg);
        }
    }

    #confettiContainer {
        z-index: 96;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(165, 255, 127, 0.168);
    }

    .confetti {
        position: absolute;
        top: 100vh;
        left: 0;
        width: 50px;
        height: 50px;
        translate: 0 100%;
    }
    .confettiLeft {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
    }
    .confettiRight {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        translate: 100vw 0;
    }

    
    #projectsContainer {
        width: 75vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        scale: 1;
        opacity: 1;
        margin: 0 auto;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    #projectsTitle {
        width: 100%;
        height: max-content;
        margin: 0 0 -100px;
        scale: 1;
    }
    .projects {
        text-decoration: none;
        scale: 1;
        width: 30%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 2vw 0 2vw 0;
        margin: 0;
        transition: scale .2s;
    }
    .projects:nth-child(3) {
        box-shadow: -5px 10px 15px 0 rgba(0, 0, 0, 0.8);
    }
    .projects:nth-child(4) {
        box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.8);
    }
    .projects:nth-child(5) {
        box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.8);
    }

    .projects:hover .projectsText {
        display: block;
        color: rgb(220, 220, 220);
    }
    .projects:hover .projectsT3 {
        text-align: none;
        color: rgb(220, 220, 220);
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
    .arrowProjects {
        height: 40%;
        aspect-ratio: 1;
        border-right: 0.3vw solid;
        border-bottom: 0.3vw solid;
        transform: rotate(45deg);
        margin: -25% auto 0;
        opacity: 0;
    }
    .arrowProjects:first-child {
        margin: 0 auto;
    }
    .projects:hover .arrowProjects {
        border-color: white;
    }
    .projects:hover .projectsImg {
        background-size: 150%;
        background-position: 50% 50%;
        filter: blur(10px);
        opacity: .2;
    }
    .projects:hover .projectsArrowsContainer {
        display: block;
        margin: 0 auto 50px;
    }
    .projects:hover {
        background-color: transparent;
        scale: 1.1;
        box-shadow: 0 0 0 .15vw rgb(220, 220, 220);
    }
    .projectsImg {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        border-radius: inherit;
        background-repeat: no-repeat;
        background-size: 150%;
    }
    #projectsImgWebsites {
        background-image: url("../imgs/ProjectsImgWebsites.png");
    }
    #projectsImgArts {
        background-image: url("../imgs/ProjectsImgArts.png");
    }
    #projectsImgVideogames {
        background-image: url("../imgs/ProjectsImgVideogames.png");
    }
    .projectsT3 {
        z-index: 2;
        width: 80%;
        height: max-content;
        padding: 50px 0;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(27, 27, 27, .6);
        box-shadow: 0 0 30px 30px rgba(27, 27, 27, .6);
    }
    .projectsText {
        z-index: 2;
        display: none;
        width: 80%;
        font-size: 1.05vw;
    }
    
    .borderWhite {
        border-color: #dcdcdc;
    }
    .borderBlack {
        border-color: #1b1b1b;
    }
    .borderRed {
        border-color: #af6969;
    }
    
    .projectsArrowsContainer {
        display: none;
        z-index: 2;
        width: 6.1vw;
        height: 6.1vw;
        scale: 0.7;
        margin: -150px auto 50px;
    }
    
    #skillsContainer {
        opacity: 1;
        scale: 1;
        width: 75vw;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    #skillsTitle {
        width: 100%;
        height: max-content;
        opacity: 1;
        scale: 1;
        margin: 0 0 -100px;
    }
    .skills {
        width: 33%;
        height: 50%;
        opacity: 1;
        background-size: 30%;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        align-content: start;
    }
    .skillsT3 {
        width: max-content;
        height: max-content;
        font-size: 1.8vw;
        color: #af6969;
        font-weight: bolder;
        margin: 20px auto 5%;
    }
    .skillsText {
        width: max-content;
        margin: 0 auto;
        font-size: 1.05vw;
        color: #dcdcdc;
        font-weight: bolder;
        font-family: Roboto, 'Gill Sans';
        height: max-content;
        line-height: 150%;
    }
    #languagesSkills {
        background-image: url("../imgs/language3.png");
    }
    #codingSkills {
        background-image: url("../imgs/coding.png");
        background-position: 50% 0%;
        align-content: end;
    }
    #otherSkills {
        background-image: url("../imgs/skills1.png");
    }
    
    #reachOutContainer {
        scale: 1;
        height: 100vh;
        width: 50vw;
        padding: 0 15%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    
    #reachOutT1 {
        z-index: 11;
        width: 100%;
        height: 25%;
        margin: 0 auto -4%;
        text-align: end;
        box-shadow: 0 .7vh 0 -1px rgb(175, 105, 105);
    }
    .reachOutTextContainer {
        z-index: 11;
        text-decoration: none;
        width: max-content;
        height: max-content;
        margin: -125px auto 0;
    }
    .reachOutTextContainer:hover {
        animation: growElement 0.1s linear forwards;
    }
    .reachOutTextContainer:hover .reachOutT2 {
        animation: whiteElement 0.1s linear forwards;
    }
    .reachOutTextContainer:active {
        animation: minElement 0.1s linear;
    }
    @keyframes growElement {
        from {scale: 1;}
        to {scale: 1.2;}
    }
    @keyframes whiteElement {
        from {color: rgb(175, 105, 105);}
        to {color: rgb(220, 220, 220);}
    }
    @keyframes minElement {
        from {scale: 1.2;}
        to {scale: 1;}
    }
    
    #downloadButton {
        position: fixed;
        width: 5vw;
        scale: 1;
        aspect-ratio: 1;
        border: 2px solid rgb(175, 105, 105);
        border-radius: 50%;
        bottom: 35px;
        right: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.2s, scale 0.1s, translate 0.2s, box-shadow 0.1s, border 0.2s, background-image 0.2s, background-position 0.2s;
        transition-timing-function: ease-in-out;
        background-image: url("../imgs/download.png");
        background-color: #1b1b1b;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 50%;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.6);
    }
    .downloadButton {
        translate: 0 150%;
    }
    .downloadButtonStart {
        translate: 0 0;
    }
    .downloadButtonEnd {
        translate: 0 200%;
    }
    #downloadButton:hover {
        opacity: 1;
        scale: 1.1;
    }
    #downloadButton:active {
        opacity: 0.7;
        scale: 0.9;
        box-shadow: none;
    }
    .plusOne {
        z-index: 200;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto, 'Gill Sans';
        color: rgb(220, 220, 220);
        font-size: 2vw;
        font-weight: bolder;
        animation: plusOneDownload 1s forwards ease-out;
    }
    @keyframes plusOneDownload {
        from {
            opacity: 1;
            top: -100%;
        }
        to {
            opacity: 0;
            top: -200%;
        }
    }
    
    .mainProjects {
        position: relative;
        width: 75vw;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        margin: 0 auto;
        padding-bottom: 10vh;
        opacity: 1;
        scale: 1;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }

    .projectsT1 {
        width: 100%;
        margin: 0 auto -10%;
        display: flex;
        justify-content: center;
    }
    .projectsTextMain {
        width: 100%;
        margin: 0 auto 0;
        opacity: 0.6;
        text-align: center;
    }
    
    .firstProjectsContainer {
        position: relative;
        width: 75vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        opacity: 1;
        scale: 1;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    .projectsT2 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 4vw;
        margin: 0 0 -100px;
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
    }
    .award {
        margin-right: 2.5vw;
        width: 6vw;
        aspect-ratio: 1;
        filter: brightness(0) saturate(100%) invert(76%) sepia(74%) saturate(1430%) hue-rotate(348deg) brightness(92%) contrast(85%);
    }
    
    #iframesContainer {
        scale: 1;
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .deviceContainer {
        z-index: 8;
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #laptopTemplate {
        z-index: 9;
        position: absolute;
        width: 100%;
        aspect-ratio: 16/9;
        box-shadow: 0 3vw 10px -2.5vw rgba(0, 0, 0, 0.8);
    }
    
    #mobileTemplate {
        z-index: 10;
        position: absolute;
        width: 32%;
        aspect-ratio: 9/16;
        box-shadow: 0 4.2vw 10px -3.7vw rgba(0, 0, 0, 0.8);
    }
    #laptopIframe {
        z-index: 9;
        position: absolute;
        scale: 0.28;
        width: 100vw;
        aspect-ratio: 8/5;
        margin-top: -10px;
        border-radius: 0.7vw;
    }
    #mobileIframe {
        z-index: 10;
        position: absolute;
        scale: 0.52;
        width: 19vw;
        aspect-ratio: 31/64;
        border-radius: 3.2vw;
    }
    .textWeb {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: medium;
        width: max-content;
        height: max-content;
        margin: -7% auto 0;
        display: flex;
        transition: opacity 0.2s;
    }
    .textWeb:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    .projectsContainer {
        position: relative;
        width: 75vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        opacity: 1;
        scale: 1;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }

    #webGameContainer {
        margin-top: 5%;
    }

    #veggieContainer {
        width: max(320px, 100%);
        height: 50%;
        scale: 1;
        position: relative;
        margin: 10% auto 0;
    }
    #veggieFrame {
        position: absolute;
        scale: .55;
        height: 193%;
        aspect-ratio: 7/5;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border: none;
        opacity: .5;
    }
    
    .endContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        width: 100vw;
        height: 150vh;
        contain: paint;
    }
    .arrowDown {
        height: 22.5%;
        aspect-ratio: 1;
        display: flex;
        margin-top: -400px;
        position: sticky;
        top: 0px;
    }
    .textComingSoon {
        width: 100%;
        margin-top: 35.5%;
        opacity: 1;
        display: flex;
        justify-content: center;
        font-size: small;
    }
    #endDetector {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
    }
    
    .returnButton {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: 1.05vw;
        font-size: medium;
        margin-top: -600%;
        position: sticky;
        top: 67%;
        width: max-content;
        height: max-content;
        transition: opacity 0.2s;
        transition-timing-function: ease-in-out;
        color: #dcdcdc;
    }
    .returnButton:hover {
        cursor: pointer;
    }
    
    #imgContainer {
        display: grid;
        margin: 0 auto;
        width: 80%;
        height: 55%;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }
    
    .imgMonster {
        width: 100%;
        aspect-ratio: 0.992;
        border-radius: 2vw 0 2vw 0;
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
    }
    #imgMonster1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #imgMonster2 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #imgMonster3 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #imgMonster5 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #imgMonster6 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .noRigContainer {
        height: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }
    #traditionalGif {
        width: 35%;
        aspect-ratio: 0.767;
    }
    #traditionalSpriteSheet {
        width: 55%;
        aspect-ratio: 1.4144;
    }
    
    .rigContainer {
        height: 55%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        align-items: center;
    }
    .rigGif {
        width: 25%;
        aspect-ratio: 3/4;
        border-radius: 2vw 0 2vw 0;
        box-shadow: 0 1.9vw 10px -1.5vw rgba(0, 0, 0, 0.6);
    }

    .img3DContainer {
        width: 100%;
        height: 25.5%;
        display: grid;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: -10% auto 0;
    }
    
    .HD3DImages {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 2vw 0 2vw 0;
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
        margin: 0;
    }
    #geometricImg1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #geometricImg2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #geometricImg3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #geometricImg4 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #geometricImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #organicImg1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #organicImg2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #organicImg3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #organicImg4 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #organicImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #ownWorksContainer {
        width: 100%;
        height: 25.5%;
        display: grid;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        margin: -10% auto 0;
        align-items: center;
    }
    .ownWorksImgs {
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
    }
    .littleCars {
        background-color: #000000;
    }
    #littleCarImg1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    #littleCarImg2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #littleCarImg3 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #littleCarImg4 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #littleCarImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .videoContainer {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .video {
        position: relative;
        border: none;
        aspect-ratio: 16/9;
        width: 60%;
        margin: 0 auto 0;
    }
    
    .gameDescription {
        font-family: Roboto, 'Gill Sans';
        opacity: 0.6;
        margin: 0 auto;
        width: 30%;
        height: max-content;
        font-size: smaller;
        line-height: 1.5;
    }

    .dotsContainer, .dotButton, #aboutMeDots {
        display: none;
    }
}

/*------------------------ Mobile ------------------------ */

@media (max-aspect-ratio: 4/3) {
    #initialLogo {
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        opacity: 1;
        background-color: rgb(27, 27, 27);
        z-index: 900;
        animation: hideLogoBackground linear 2.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        z-index: 101;
        opacity: 0;
        width: 75px;
        aspect-ratio: 1;
        animation: showLogo linear 2.5s forwards;
    }
    @keyframes showLogo {
        0%, 10%, 75%, 100% {
            opacity: 0;
        }
        30%, 55% {
            opacity: 1;
        }
    }
    @keyframes hideLogoBackground {
        0%, 90% {
            height: 100vh;
            opacity: 1;
            display: flex;
        }
        100% {
            height: 100vh;
            opacity: 0;
            display: none;
        }
    }
    #mainIndex {
        height: 100vh;
        width: max(320px, 50vw);
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 50%;
        translate: -50% 0;
        position: fixed;
        z-index: -10;
        padding: 0 25vw;
        transition: all 1.5s;
    }
    .mainIndexStart {
        scale: 1;
        opacity: 1;
    }
    .mainIndexEnd {
        scale: 0.5;
        opacity: 0;
    }

    #introTextContainer {
        height: max-content;
        width: min(250px, 90%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -50px auto 75px;
    }

    #profilePic {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        box-shadow: 0 0 15px 2px rgb(0, 0, 0), 0 0 0 10px rgb(175, 105, 105);
        margin: 0 auto;
    }

    .arrowsContainer {
        position: absolute;
        width: 100%;
        bottom: 50px;
    }
    .arrow {
        height: 20px;
        aspect-ratio: 1;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(45deg);
        margin: -10px auto 0;
        opacity: 0;
    }
    #arrow1 {
        animation: arrowGlow 2s linear infinite;
    }
    #arrow2 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.3s;
    }
    #arrow3 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.6s;
    }
    @keyframes arrowGlow {
        0%, 40%, 100% { opacity: 0; }
        20% { opacity: 1; }
    }

    .redText {
        color: #af6969;
    }
    .blackText {
        color: #1b1b1b;
    }
    .whiteText {
        color: #dcdcdc;
    }
    .boldText {
        font-weight: bolder;
    }
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 30pt;
        margin: 0;
    }
    
    h2 {
        font-family: Roboto, 'Gill Sans';
        font-size: x-large;
        margin-bottom: 20px;
    }
    
    p {
        font-family: Roboto, 'Gill Sans';
        margin: 0;
        font-size: smaller;
        width: max-content;
        height: max-content;
    }
    li {
        list-style-type:circle;
    }

    #homeTitle, #homeSubtitle, #homeText {
        width: 100%;
    }
    #homeTitle {
        margin-bottom: 20px;
    }

    #navDisplayer {
        z-index: 200;
        border: none;
        width: 25px;
        aspect-ratio: 1;
        position: fixed;
        top: 10px;
        background-color: transparent;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .navDisplayer {
        left: 10px;
        background-image: url("../imgs/menu_icon.png");
    }
    .navDisplayerStart {
        animation: menuStart .3s ease-in-out forwards;
    }
    .navDisplayerEnd {
        animation: menuEnd .3s ease-in-out forwards;
    }
    @keyframes menuStart {
        0% {
            left: 10px;
            background-image: url("../imgs/menu_icon.png");
        }
        100% {
            left: 90px;
            background-image: url("../imgs/cross_icon.png");
        }
    }
    @keyframes menuEnd {
        0% {
            left: 90px;
            background-image: url("../imgs/cross_icon.png");
        }
        100% {
            left: 10px;
            background-image: url("../imgs/menu_icon.png");
        }
    }

    #navContainer {
        background: linear-gradient(90deg, rgb(13, 13, 13), rgba(13, 13, 13, 0.9), rgba(0,0,0,0) 95%);
        z-index: 90;
        width: 100px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 100vw;
        transition-delay: 0;
    }
    .navContainer {
        width: 0;
        opacity: 0;
        transition: all .4s;
        transition-timing-function: ease-in-out;
        translate: -100% 0;
    }
    .navContainerStart {
        opacity: 1;
        translate: 0 0;
    }
    .navContainerEnd {
        opacity: 0;
        translate: -100% 0;
    }
    #scrollTop {
        height: 4%;
        aspect-ratio: 1;
        position: relative;
        text-decoration: none;
        border: none;
        transition: all .15s;
        background-color: transparent;
        background-image: url("../imgs/home.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin: 45% auto;
        z-index: 91;
    }
    #scrollTop:hover {
        cursor: pointer;
        background-size: 100%;
        opacity: 1;
    }
    .scrollTop {
        background-size: 90%;
        opacity: .5;
    }
    .scrollTopLighten {
        background-size: 100%;
        opacity: 1;
    }

    .menuButton {
        width: 100%;
        height: 5%;
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: #dcdcdc;
        text-align: center;
        scale: 1;
        opacity: .5;
        margin: 45% auto;
        z-index: 91;
        transition: all .15s;
    }
    .menuButtonLighten {
        scale: 1.1;
        opacity: 1;
    }
    .menuButton:hover {
        cursor: pointer;
        scale: 1.1;
        opacity: 1;
    }
    .betweenMenu {
        width: 5px;
        aspect-ratio: 1;
        background-color: #dcdcdc;
        border-radius: 50%;
        z-index: 91;
        margin: 0 auto;
        opacity: .5;
    }
    
    .mainCoversContainer {
        position: sticky;
        width: 100vw;
        height: 120vh;
        z-index: -1;
        display: flex;
        align-items: start;
        justify-content: center;
        margin: 0;
        padding: 0;
        top: -20vh;
        opacity: 1;
    }
    .mainCovers {
        background-color: #1b1b1b;
        position: sticky;
        top: 0;
        width: 8.5%;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 1;
    }

    .detector {
        z-index: 999;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 130px;
    }
    .mainCoversEnd {
        height: 100vh;
        background-color: #1b1b1b;
        animation: mainCoversAnimReversed .5s linear forwards;
    }
    @keyframes mainCoversAnimReversed {
        from {
            background-color: #1b1b1b;
            height: 100vh;
        }
        to {
            background-color: #af6969;
            height: 0;
        }
    }
    .mainCoversStart {
        animation: mainCoversAnim .5s linear forwards;
    }
    @keyframes mainCoversAnim {
        from {
            background-color: #af6969;
            height: 0;
        }
        to {
            background-color: #1b1b1b;
            height: 100vh;
        }
    }
    .mainCovers:nth-child(1), .mainCovers:nth-child(5), .mainCovers:nth-child(10) {
        animation-delay: 0s;
    }
    .mainCovers:nth-child(2), .mainCovers:nth-child(7), .mainCovers:nth-child(9) {
        animation-delay: .2s;
    }
    .mainCovers:nth-child(3), .mainCovers:nth-child(6), .mainCovers:nth-child(11) {
        animation-delay: .6s;
    }
    .mainCovers:nth-child(4), .mainCovers:nth-child(8), .mainCovers:nth-child(12) {
        animation-delay: .4s;
    }
    
    .blackBg {
        background-color: rgb(27, 27, 27);
    }
    .redBg {
        background-color: rgb(175, 105, 105);
    }
    .whiteBg {
        background-color: rgb(220, 220, 220);
    }

    .sectionDetector {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 10px;
        top: 44%;
    }

    #aboutMeContainer {
        width: 320px;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #aboutMeDots {
        bottom: 25px;
    }
    .aboutMeContainer {
        margin: 0vh auto 0;
        scale: .8;
        opacity: 0;
        transition: scale 2s, margin 2s, opacity .3s;
        transition-timing-function: ease-in-out;
    }
    .aboutMeContainerStart {
        margin: -50vh auto 0;
        scale: 1;
        opacity: 1;
    }
    .aboutMeContainerEnd {
        margin: 0vh auto 0;
        scale: .8;
        opacity: 0;
    }
    .aboutMeContainerHide {
        transition: all 0s;
        margin: 0vh auto 0;
    }
    #keepScrolling {
        width: 100%;
        height: 100px;
        position: absolute;
        top: -25%;
        color: #dcdcdc;
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: transparent;
        background-image: url("../imgs/keepScrollingArrow.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 20px;
        font-weight: bolder;
        font-size: large;
        opacity: 0;
        transition: all .5s;
    }
    .aboutMeContainerStart > #keepScrolling {
        transition-delay: 3s;
        opacity: 1;
    }
    .aboutMeContainerEnd > #keepScrolling {
        transition-delay: 0s;
        opacity: 0;
    }
    .aboutMeContainerHide > #keepScrolling {
        transition-delay: 0s;
        opacity: 0;
    }

    #aboutMeTextContainer {
        width: 80%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        margin: 0;
    }
    .aboutMeText {
        display: none;
        margin-top: 0px;
        height: max-content;
        line-height: 1.5;
    }
    #aboutMeWheelContainer {
        position: relative;
        width: 80%;
        aspect-ratio: 1;
        z-index: 5;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        margin: 0;
        padding: 0;
        transform: rotateZ(0deg);
    }
    #wheel {
        display: none;
    }
    #aboutMePPic {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        z-index: 5;
    }
    #PPicImg {
        width: 100%;
        height: 100%;
        opacity: 1;
        scale: 1;
        border-radius: 50% 0 50% 0;
        transition: opacity .2s linear;
    }
    
    #aboutMeText1 {
        display: block;
    }
    
    #projectsContainer {
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        margin: 0 auto 0;
        scale: 1;
        opacity: 1;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    #projectsTitle {
        width: 80%;
        height: 25%;
        margin: 0 auto 0;
        scale: 1;
        display: flex;
        align-items: center;
    }
    .projects {
        position: relative;
        text-decoration: none;
        width: 100%;
        height: 24%;
        scale: 1;
        opacity: 1;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        margin: 1% auto 0;
    }
    #projectsImgWebsites {
        background-image: url("../imgs/web_pattern.png");
        background-position: 425px 72%;
    }
    #projectsImgArts {
        background-image: url("../imgs/arts_pattern.png");
        background-position: 25px 67%;
    }
    #projectsImgVideogames {
        background-image: url("../imgs/game_pattern.png");
        background-position: 100px 25%;
    }
    .projectsImg {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        border-radius: inherit;
        background-repeat: repeat;
        background-size: 500px;
        opacity: 1;
        filter: blur(0px);
    }

    .arrowProjects {
        height: 70%;
        aspect-ratio: 1;
        border-right: 2.5px solid;
        border-bottom: 2.5px solid;
        transform: rotate(45deg);
        margin: -12px auto 0;
        opacity: 0;
    }
    .projectsT3 {
        z-index: 3;
        text-align: start;
        width: 50%;
        margin: 0 0 0 10%;
        font-size: x-large;
    }
    .projectsText {
        display: none;
    }

    .borderWhite {
        border-color: #dcdcdc;
    }
    .borderBlack {
        border-color: #1b1b1b;
    }
    .borderRed {
        border-color: #af6969;
    }
    
    .projectsArrowsContainer {
        z-index: 3;
        position: absolute;
        transform-origin: 50% 0;
        top: 50%;
        height: 30px;
        aspect-ratio: 1;
        right: min(90px, 20%);
        transform: rotate(-90deg);
        scale: 1;
        margin: 0;
        
    }
    
    #skillsContainer {
        opacity: 1;
        scale: 1;
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        margin: 0 auto 0;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    #skillsTitle {
        width: 80%;
        height: 25%;
        margin: 0 auto 0;
        scale: 1;
        display: flex;
        align-items: center;
    }
    .skills {
        position: relative;
        text-decoration: none;
        width: 100%;
        height: 24%;
        margin: 1% auto 0;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        border: none;
    }
    .skillsT3 {
        z-index: 3;
        text-align: start;
        width: 80%;
        height: max-content;
        color: #af6969;
        margin: 0 0 0 10%;
        font-size: x-large;
    }
    .skillsText {
        width: 80%;
        height: max-content;
        text-align: start;
        margin: 0 0 0 10%;
        font-size: smaller;
        color: #dcdcdc;
        font-weight: bolder;
        font-family: Roboto, 'Gill Sans';
        line-height: 1.5;
    }
    #languagesSkills::after {
        background-image: url("../imgs/language3.png");
        background-position: 0px 50%;
        width: 100%;
        height: 100%;
        content: "";
        background-repeat: repeat-x;
        background-size: 150px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        filter: blur(5px) saturate(0) brightness(.4);
    }
    #codingSkills::after {
        background-image: url("../imgs/coding.png");
        background-position: 100px 50%;
        width: 100%;
        height: 100%;
        content: "";
        background-repeat: repeat-x;
        background-size: 150px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        filter: blur(5px) saturate(0) brightness(.25);
    }
    #otherSkills::after {
        background-image: url("../imgs/skills1.png");
        background-position: 0px 50%;
        width: 100%;
        height: 100%;
        content: "";
        background-repeat: repeat-x;
        background-size: 150px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        filter: blur(5px) saturate(0) brightness(.4);
    }

    #reachOutContainer {
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        margin: 0 auto 0;
        opacity: 1;
        scale: 1;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    #reachOutT1 {
        width: 80%;
        height: 20%;
        margin: 0 auto 10%;
        padding: 5% 0 0;
        scale: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        box-shadow: 0 5px 0 -1px rgb(175, 105, 105);
    }
    .reachOutTextContainer {
        margin: 0 auto 0;
        width: 100%;
        height: 18.75%;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .reachOutT2 {
        width: 100%;
        margin: 0 0 0 min(90px, 10%);
        font-size: 30px;
    }
    .reachOutText {
        margin: -30px 0 0 min(90px, 10%);
        width: 100%;
        font-size: medium;
    }
    .reachOutTextContainer:active {
        animation: minElement 0.1s ease-in-out;
    }
    @keyframes minElement {
        from {scale: 1.2;}
        to {scale: 1;}
    }
    
    #downloadButton {
        position: fixed;
        width: 50px;
        scale: 1;
        aspect-ratio: 1;
        border: 2px solid rgb(175, 105, 105);
        border-radius: 50%;
        bottom: 35px;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.2s, scale 0.1s, translate 0.2s, box-shadow 0.1s, border 0.2s, background-image 0.2s, background-position 0.2s;
        transition-timing-function: ease-in-out;
        background-image: url("../imgs/download.png");
        background-color: #1b1b1b;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 50%;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.6);
    }

    .downloadButton {
        translate: -50% 150%;
    }
    .downloadButtonStart {
        translate: -50% 0;
    }
    .downloadButtonEnd {
        translate: -50% 200%;
    }
    #downloadButton:active {
        opacity: 0.7;
        scale: 0.9;
        box-shadow: none;
    }
    .plusOne {
        z-index: 200;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto, 'Gill Sans';
        color: rgb(220, 220, 220);
        font-size: medium;
        font-weight: bolder;
        animation: plusOneDownload 1s forwards ease-out;
    }
    @keyframes plusOneDownload {
        from {
            opacity: 1;
            top: -100%;
        }
        to {
            opacity: 0;
            top: -200%;
        }
    }
    
    .mainProjects {
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        margin: 0 auto;
        opacity: 1;
        scale: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }

    .projectsT1 {
        width: 80%;
        height: max-content;
        margin: 0 auto -200px;
        font-size: xx-large;
        text-align: center;
    }
    .projectsTextMain {
        width: 80%;
        margin: -200px auto 0;
        opacity: 0.6;
        font-size: medium;
        text-align: center;
    }
    
    .firstProjectsContainer {
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        margin: 0 auto;
        opacity: 1;
        scale: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }
    .projectsT2 {
        font-family: Helvetica, Arial, sans-serif;
        width: 80%;
        height: 15%;
        display: flex;
        align-items: center;
        font-size: x-large;
        margin: 0;
    }
    .award {
        width: 75px;
        aspect-ratio: 1;
        margin: 0 20px 0 0;
        filter: brightness(0) saturate(100%) invert(76%) sepia(74%) saturate(1430%) hue-rotate(348deg) brightness(92%) contrast(85%);
    }
    
    #iframesContainer {
        position: relative;
        width: max(100vw, 320px);
        height: 75%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto 20px;
    }
    .deviceContainer {
        z-index: 8;
        position: relative;
        width: max(90%, 320px);
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 50px;
    }
    #mobileDevice {
        width: max(20%, 250px);
        display: none;
    }

    #laptopTemplate, #mobileTemplate {
        display: block;
        margin: 0 auto;
    }
    #laptopTemplate {
        width: 100%;
        aspect-ratio: 16/9;
        box-shadow: 0 34px 7px -30px rgba(0, 0, 0, 0.8);
    }
    
    #mobileTemplate {
        width: 100%;
        aspect-ratio: 9/16;
        box-shadow: 0 49px 7px -45px rgba(0, 0, 0, 0.8);
    }
    #laptopIframe {
        z-index: 9;
        position: absolute;
        scale: .165;
        width: max(460%, 320px);
        aspect-ratio: 8/5;
        margin-top: -10px;
        border-radius: 0.7vw;
    }
    #mobileIframe {
        z-index: 10;
        position: absolute;
        scale: .635;
        width: max(130%, 320px);
        aspect-ratio: 31/64;
        border-radius: max(5vw, 50px);
    }
    .textWeb {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: medium;
        width: max-content;
        text-align: center;
        height: max-content;
        margin: 0 auto;
        transition: opacity 0.2s;
    }
    .textWeb:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    .projectsContainer {
        position: relative;
        width: max(100vw, 320px);
        height: 100vh;
        opacity: 1;
        scale: 1;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: opacity .3s;
        transition-timing-function: ease-in-out;
    }

    #veggieContainer {
        width: clamp(320px, 100%, 700px);
        aspect-ratio: 8/5;
        scale: 1;
        position: relative;
    }

    #veggieFrame {
        position: absolute;
        scale: .74;
        width: 130%;
        height: 130%;
        margin: 0;
        padding: 0;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border: none;
    }
    
    .endContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        width: 100vw;
        height: 150vh;
        contain: paint;
    }
    .arrowDown {
        height: 180px;
        aspect-ratio: 1;
        display: flex;
        margin-top: -180px;
        position: sticky;
        top: 0px;
    }
    .textComingSoon {
        width: 100%;
        margin-top: 500px;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    #endDetector {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
    }
    
    .returnButton {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: 1.05vw;
        font-size: medium;
        margin-top: -600px;
        position: sticky;
        top: 500px;
        width: max-content;
        height: max-content;
        transition: opacity 0.2s;
        transition-timing-function: ease-in-out;
        color: #dcdcdc;
    }
    .returnButton:hover {
        cursor: pointer;
    }
    
    #imgContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 50px auto 200px;
        width: min(90%, 400px);
        height: max-content;
        padding: 0;
    }
    
    .imgMonster {
        display: none;
        width: 100%;
        aspect-ratio: 0.992;
        border-radius: 15px;
        box-shadow: 0 18px 7px -15px rgba(0, 0, 0, 0.6);
        margin: 0 auto;
    }
    .imgMonster:first-child {
        display: block;
        margin-left: 0px;
    }
    
    .noRigContainer {
        width: 90%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 100px;
        align-items: center;
    }
    #traditionalGif {
        width: min(80%, 230px);
        height: auto;
        margin: 0 auto;
    }
    #traditionalSpriteSheet {
        width: min(80%, 350px);
        aspect-ratio: 1.4144;
        margin: 0 auto;
    }
    .rigContainer {
        width: max-content;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto 100px;
        align-items: center;
    }

    .rigGif {
        display: none;
        height: 100%;
        aspect-ratio: 3/4;
        border-radius: 37px;
        box-shadow: 0 34px 7px -30px rgba(0, 0, 0, 0.6);
    }
    .rigGif:first-child {
        display: block;
    }
    
    .img3DContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 90%;
        margin: 0 auto 150px;
    }
    
    .HD3DImages {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 19px;
        box-shadow: 0 19px 7px -15px rgba(0, 0, 0, 0.6);
    }
    .geometricImg {
        display: none;
    }
    .geometricImg:first-child {
        display: block;
    }
    .organicImg {
        display: none;
    }
    .organicImg:first-child {
        display: block;
    }
    
    #ownWorksContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto 150px;
        padding: 0;
    }
    .ownWorksImgs {
        box-shadow: 0 19px 7px -15px rgba(0, 0, 0, 0.6);
        display: none;
    }
    .ownWorksImgs:first-child {
        display: block;
    }
    .littleCars {
        background-color: #000000;
    }
    
    .video {
        border: none;
        aspect-ratio: 16/9;
        width: 90%;
        display: flex;
        margin: 50px auto;
    }
    
    .gameDescription {
        font-family: Roboto, 'Gill Sans';
        opacity: 0.6;
        margin: 0 auto;
        width: 60%;
        height: max-content;
        font-size: small;
        line-height: 1.5;
        text-align: center;
    }

    .dotsContainer {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
    }
    .dotButton, .dotButtonGif, .dotButtonGeo, .dotButtonOrg, .dotButtonCar {
        border: none;
        width: 20px;
        height: 20px;
        scale: 0.5;
        border-radius: 50%;
        margin-left: 15px;
        background-color: #dcdcdc;
        opacity: 0.25;
        transition: opacity 0.2s;
        z-index: 1001;
    }
    .dotButton:first-child, .dotButtonGif:first-child {
        margin-left: 0;
    }
    .dotButton:hover {
        cursor: pointer;
    }
    .disabled {
        opacity: 1;
    }
    .projectsDots {
        margin: 0 auto 50px;
    }
}