body {
    background: linear-gradient(-45deg, #1b1b1b, #1b1b1b, #000000);
    background-size: 400% 400%;
    animation: bgAnimation 10s ease infinite;
    overflow-x: hidden;
}
@keyframes bgAnimation {
    0%, 100% {
        background-position: 2% 50%;
    }
    50% {
        background-position: 98% 50%;
    }
}

/*------------------------ Landscape ------------------------ */

@media (min-aspect-ratio: 4/3)  {
    #initialLogo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 1;
        background-color: rgb(27, 27, 27);
        background-image: url("../imgs/Logo.png");
        background-size: 15vw 15vw;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        animation: hideLogo linear 1.2s forwards;
    }
    @keyframes hideLogo {
        0%, 70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    #mainIndex {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -10;
        padding-top: 75px;
    }

    #introTextContainer {
        height: max-content;
        width: 34vw;
        margin: 0 30px 0 -1vw;
    }
    .redText {
        color: #af6969;
    }
    .blackText {
        color: #252525;
    }
    .whiteText {
        color: #dcdcdc;
    }
    .boldText {
        font-weight: bolder;
    }
    
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 4.9vw;
        margin-top: 0;
    }
    
    h2 {
        font-family: Roboto, 'Gill Sans';
        font-size: 2.3vw;
        margin-bottom: 20px;
    }
    
    p {
        font-family: Roboto, 'Gill Sans';
        margin: 0;
        font-size: 1.05vw;
        width: max-content;
        height: max-content;
    }

    #homeTitle, #homeSubtitle, #homeText {
        width: 100%;
    }

    #homeTitle {
        margin-bottom: 80px;
    }
    
    #reachOut {
        text-decoration: none;
        margin: 40px 0 0 0;
        border: 1px rgb(220, 220, 220) solid;
        background-color: transparent;
        width: 19.5%;
        font-size: 0.85vw;
        color: rgb(220, 220, 220);
        aspect-ratio: 3;
        font-family: Helvetica, Arial, sans-serif;
        border-radius: 100vw;
        animation: unhoverReachOut linear 0.1s forwards;
    }
    #reachOut:hover {
        cursor: pointer;
        animation: hoverReachOut linear 0.1s forwards;
    }
    #reachOut:active {
        animation: unhoverReachOut linear 0.1s forwards;
    }
    @keyframes hoverReachOut {
        from {  background-color: transparent;
                color: rgb(220, 220, 220);
                border: 1px rgb(220, 220, 220) solid;}
    
        to {    background-color: rgb(220, 220, 220);
                color: #202020;
                border: none;}
    }
    @keyframes unhoverReachOut {
        from {  background-color: rgb(220, 220, 220);
                color: #202020;
                border: none;}
    
        to {    background-color: transparent;
                color: rgb(220, 220, 220);
                border: 1px rgb(220, 220, 220) solid;}
    }

    #profilePic {
        height: 26vw;
        width: 26vw;
        border-radius: 50%;
        box-shadow: 0 0 1.5vw 2px rgb(0, 0, 0), 0 0 0 1vw rgb(175, 105, 105);
    }
    
    .arrowsContainer {
        width: 100vw;
        margin-top: -150px;
    }
    .arrow {
        height: 2.5vw;
        aspect-ratio: 1;
        border-right: 0.25vw solid;
        border-bottom: 0.25vw solid;
        transform: rotate(45deg);
        margin: -1.5vw auto 0;
        opacity: 0;
    }
    #arrow1 {
        animation: arrowGlow 2s linear infinite;
    }
    #arrow2 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.3s;
    }
    #arrow3 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.6s;
    }
    @keyframes arrowGlow {
        0%, 40%, 100% { opacity: 0; }
        20% { opacity: 1; }
    }
    
    #mainCoversContainer {
        position: fixed;
        width: 100vw;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .mainCovers {
        position: relative;
        width: 150vw;
        height: 40vh;
        background-color: rgb(175, 105, 105);
        transform: rotate(-15deg);
        margin-top: 1.25vh;
        left: 110vw;
        transform-origin: -75% 0%;
        animation: mainCovers linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
    @keyframes mainCovers {
        from { 
            translate: 0 0; 
            background-color: rgb(175, 105, 105);
        }
        to {
            translate: -120vw 32.1vw;
            background-color: #1b1b1b;
        }
    }
    
    .blackBg {
        background-color: rgb(27, 27, 27);
    }
    .redBg {
        background-color: rgb(175, 105, 105);
    }
    .whiteBg {
        background-color: rgb(220, 220, 220);
    }
    #aboutMeContainer {
        width: 100vw;
        height: 100vh;
        margin: 200vh auto 0;
        scale: 1;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: popElement linear forwards;
        animation-timeline: view(300px 300px);
    }
    #aboutMeTextContainer {
        width: 33vw;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 0 13vw;
    }
    
    .aboutMeText {
        margin-top: 42px;
    }

    #aboutMePPic {
        width: 26vw;
        height: 26vw;
        border-radius: 50% 0 50% 50%;
        box-shadow: 0 0 1.5vw 2px rgb(0, 0, 0), 0 0 0 1vw rgb(175, 105, 105);
        z-index: 5;
    }
    
    #projectsContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        scale: 1;
        opacity: 0;
        animation: popElement linear forwards;
        animation-timeline: view(300px 300px);
    }
    #projectsTitle {
        width: 100%;
        margin: 0 0 50px 6.5vw;
        scale: 1;
    }
    .projects {
        text-decoration: none;
        scale: 1;
        width: 25%;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        border: none;
        border-radius: 1vw;
        box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.8);
    }
    #project2 {
        margin: 0 6vw;
    }
    .projects:hover .projectsText {
        display: block;
        color: rgb(220, 220, 220);
    }
    .projects:hover .projectsT3 {
        text-align: none;
        color: rgb(220, 220, 220);
    }
    .arrowProjects {
        height: 40%;
        aspect-ratio: 1;
        border-right: 0.3vw solid;
        border-bottom: 0.3vw solid;
        transform: rotate(45deg);
        margin: -25% auto 0;
        opacity: 0;
    }
    .arrowProjects:first-child {
        margin: 0 auto;
    }
    .projects:hover .arrowProjects {
        border-color: white;
    }
    .projects:hover .projectsImg {
        opacity: 0;
    }
    .projects:hover .projectsArrowsContainer {
        margin: 0 auto 50px;
    }
    .projects:hover {
        background-color: transparent;
        box-shadow: 0 0 0 0.3vw rgb(220, 220, 220);
    }
    .projectsImg {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.1s;
        border-radius: inherit;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #projectsImgWebsites {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(175, 105, 105, 0.9), rgb(175, 105, 105, 1)), url("../imgs/ProjectsImgWebsites1.png");
        background-position: 50% -20px;
    }
    #projectsImgArts {
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(27, 27, 27, 0.9), rgb(27, 27, 27, 1)), url("../imgs/ProjectsImgArts1.png"); /*Image by wallhalla.com*/
        background-position: 50% 20px;
    }
    #projectsImgVideogames {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(220, 220, 220, 0.9), rgb(220, 220, 220, 1)), url("../imgs/ProjectsImgVideogames1.png");
        background-position: 50% -20px;
    }
    .projectsT3 {
        z-index: 2;
        width: 80%;
        text-align: center;

    }
    .projectsText {
        z-index: 2;
        display: none;
        width: 80%;
        font-size: 1.05vw;
    }

    @keyframes popElement {
        0%, 100% {
            scale: 0.8;
            opacity: 0;
        }
        25%, 75% {
            scale: 1;
            opacity: 1;
        }
    }
    
    .borderWhite {
        border-color: rgb(220, 220, 220);
    }
    .borderBlack {
        border-color: #1b1b1b;
    }
    .borderRed {
        border-color: rgb(175, 105, 105);
    }
    
    .projectsArrowsContainer {
        z-index: 2;
        width: 6.1vw;
        height: 6.1vw;
        scale: 1;
        margin: -150px auto 50px;
    }
    
    #skillsContainer {
        width: 100vw;
        height: max-content;
        margin: 25vh auto 0;
    }
    #skillsTitle {
        position: sticky;
        top: 20px;
        animation: popShowElement linear forwards;
        animation-timeline: view(250px 100px);
        opacity: 0;
        scale: 1;
        margin: 15px 0 50px 6.5vw;
    }
    @keyframes popShowElement {
        0%, 100% {
            scale: 0.8;
            opacity: 0;
        }
        5%, 95% {
            scale: 1;
            opacity: 1;
        }
    }
    .skillSlider {
        overflow-x: hidden;
        width: 100%;
        height: 180px;
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        translate: -20% 0;
        animation: slideSkill linear forwards;
        animation-timeline: view(300px 120px);
        box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.8);
    }
    @keyframes slideSkill {
        0% {
            translate: -20% 0;
            opacity: 0;
        }
        10%, 90% {
            translate: 0 0;
            opacity: 1;
        }
        100% {
            translate: 20% 0;
            opacity: 0;
        }
    }
    .skillsT3 {
        width: 100%;
        margin: 0 0 0 100px;
        font-size: 1.8vw;
    }
    .skillsText {
        margin: -50px 0 0 100px;
        line-height: 1.3;
        font-size: 1.05vw;
    }
    .skillsImages {
        position: absolute;
        margin-left: 80%;
        height: 6vw;
        width: 6vw;
    }
    
    #reachOutContainer {
        width: 100vw;
        height: 150vh;
        margin: -45vh auto 0;
        contain: paint;
    }
    
    #reachOutSlide {
        width: 70%;
        padding: 0 15%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        translate: 100% 0;
        background-color: rgb(175, 105, 105);
        animation: slideRight linear forwards;
        animation-timeline: view(100% 100%);
    }
    @keyframes slideRight {
        0% {
            translate: 100% 0;
            background-color: rgb(175, 105, 105);
        }
        100% {
            translate: 0 0;
            background-color: rgb(27, 27, 27)
        }
    }
    
    #reachOutT1 {
        z-index: 11;
        width: 80%;
        height: 125px;
        margin: 0 auto 0 100px;
        box-shadow: 0 5px 0 0 rgb(175, 105, 105);
    }
    .reachOutTextContainer {
        z-index: 11;
        text-decoration: none;
        width: max-content;
        height: max-content;
        margin: -250px auto 0;
    }
    .reachOutTextContainer:hover {
        animation: growElement 0.1s linear forwards;
    }
    .reachOutTextContainer:hover .reachOutT2 {
        animation: whiteElement 0.1s linear forwards;
    }
    .reachOutTextContainer:active {
        animation: minElement 0.1 linear;
    }
    @keyframes growElement {
        from {scale: 1;}
        to {scale: 1.2;}
    }
    @keyframes whiteElement {
        from {color: rgb(175, 105, 105);}
        to {color: rgb(220, 220, 220);}
    }
    @keyframes minElement {
        from {scale: 1.2;}
        to {scale: 1;}
    }
    
    #downloadButton {
        z-index: 11;
        position: absolute;
        width: 5vw;
        scale: 1;
        aspect-ratio: 1;
        border-radius: 50%;
        bottom: 1.5vw;
        right: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
        transition: opacity 0.2s, scale 0.1s;
        background-color: rgba(175, 105, 105, 0);
        animation: fadeInDownload linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }
    @keyframes fadeInDownload {
        0% {
            background-color: rgba(175, 105, 105, 0);
        }
        100% {
            background-color: rgba(175, 105, 105, 1);
        }
    }
    #downloadButton:hover {
        opacity: 1;
        scale: 1.1;
    }
    #downloadButton:active {
        opacity: 0.7;
        scale: 0.9;
    }
    #downloadImg {
        width: 50%;
        height: 50%;
    }
    
    .mainProjects {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        animation: fadeOutWebsites linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
    @keyframes fadeOutWebsites {
        0% {
            opacity: 1;
            scale: 1;
        }
        50%, 100% {
            opacity: 0;
            scale: 0.6;
        }
    }
    .projectsT1 {
        width: 100%;
        margin: 100px auto 0;
        display: flex;
        justify-content: center;
    }
    .projectsTextMain {
        width: 100%;
        margin: -300px auto -175px;
        opacity: 0.4;
        text-align: center;
    }
    
    .firstProjectsContainer {
        width: 100vw;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        margin: 100vh auto 0;
        opacity: 0;
        scale: 0.9;
        animation: showUpWebsite linear forwards;
        animation-timeline: view(100px 100px);
    }
    .projectsT2 {
        width: 80%;
        margin: 0 0 40px 10vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .award {
        margin-right: 2.5vw;
        width: 6vw;
        height: 6vw;
        filter: brightness(0) saturate(100%) invert(76%) sepia(74%) saturate(1430%) hue-rotate(348deg) brightness(92%) contrast(85%);
    }
    
    #iframesContainer {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    #laptopTemplate {
        height: 32.6vw;
        aspect-ratio: 16/9;
        margin-left: -7.9vw;
        margin-right: 3.2vw;
        box-shadow: 0 3vw 10px -2.5vw rgba(0, 0, 0, 0.8);
    }
    
    #mobileTemplate {
        height: 32.6vw;
        aspect-ratio: 9/16;
        box-shadow: 0 4.2vw 10px -3.7vw rgba(0, 0, 0, 0.8);
    }
    #laptopIframe {
        scale: 0.346;
        height: 78vw;
        aspect-ratio: 8/5;
        position: absolute;
        margin-left: -29.5vw;
        margin-top: -18.5px;
        border-radius: 0.7vw;
    }
    #mobileIframe {
        scale: 0.75;
        height: 41.7vw;
        aspect-ratio: 31/64;
        position: absolute;
        margin-left: 53.2vw;
        margin-top: 0;
        border-radius: 3.2vw;
    }
    .textWeb {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: medium;
        width: max-content;
        margin: 0 auto;
        display: flex;
        transition: opacity 0.2s;
    }
    .textWeb:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    .projectsContainer {
        width: 100%;
        height: max-content;
        margin-top: 100px;
        margin-bottom: 25px;
        opacity: 0;
        scale: 0.9;
        animation: showUpWebsite linear forwards;
        animation-timeline: view(100px 100px);
    }
    @keyframes showUpWebsite {
        0%, 100% {
            opacity: 0;
            scale: 0.9;
        }
        20%, 80% { scale: 1;}
        35%, 65% { opacity: 1; }
    }
    #veggieFrame {
        scale: 0.7;
        width: 64.7vw;
        aspect-ratio: 199/142;
        border: none;
        overflow: hidden;
        display: flex;
        margin: -100px auto -50px;
        box-shadow: 0 0 0 2px rgb(220, 220, 220), 0 2vw 10px -0.7vw rgba(0, 0, 0, 0.8);
        border-radius: 0.7vw;
    }
    
    .endContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        width: 100vw;
        height: 150vh;
        contain: paint;
    }
    .arrowDown {
        height: 250px;
        aspect-ratio: 1;
        display: flex;
        margin-top: -400px;
        position: sticky;
        top: 0px;
    }
    .textComingSoon {
        width: 100%;
        margin-top: 550px;
        opacity: 1;
        display: flex;
        justify-content: center;
    }
    
    .returnButton {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        font-size: medium;
        margin-top: -600px;
        position: sticky;
        top: 500px;
        width: max-content;
        height: max-content;
        animation: appearDelay linear;
        animation-timeline: view(98.6% 90%);
        transition: opacity 0.2s;
        color: rgba(220, 220, 220, 0);
    }
    @keyframes appearDelay {
        0% { color: rgba(220, 220, 220, 0); }
        99%{ color: rgba(220, 220, 220, 1); }
    }
    .returnButton:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    #imgContainer {
        display: grid;
        margin: -50px auto 0;
        width: 70%;
        padding: 50px 15%;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .imgMonster {
        width: 100%;
        aspect-ratio: 0.992;
        border-radius: 1vw;
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
    }
    #imgMonster1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #imgMonster2 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #imgMonster3 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    #imgMonster5 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #imgMonster6 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .noRigContainer {
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        align-items: center;
    }
    #traditionalGif {
        height: 35vw;
        aspect-ratio: 0.767;
    }
    #traditionalSpriteSheet {
        height: 35vw;
        aspect-ratio: 1.4144;
        margin-left: 3vw;
    }
    
    .rigGif {
        width: 25%;
        aspect-ratio: 3/4;
        border-radius: 3vw;
        box-shadow: 0 2.9vw 10px -2.5vw rgba(0, 0, 0, 0.6);
    }
    .img3DContainer {
        width: auto;
        display: grid;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        padding: 50px 3.5%;
    }
    
    .HD3DImages {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 1vw;
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
    }
    #geometricImg1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #geometricImg2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #geometricImg3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #geometricImg4 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #geometricImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #organicImg1 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    #organicImg2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #organicImg3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #organicImg4 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #organicImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    #ownWorksContainer {
        width: auto;
        display: grid;
        gap: 1.5vw;
        grid-template-columns: repeat(4, 1fr);
        padding: 50px 3.5%;
    }
    .ownWorksImgs {
        box-shadow: 0 1.7vw 10px -1.3vw rgba(0, 0, 0, 0.6);
    }
    .littleCars {
        background-color: #000000;
    }
    #littleCarImg1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }
    #littleCarImg2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #littleCarImg3 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #littleCarImg4 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #littleCarImg5 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    
    .video {
        border: none;
        aspect-ratio: 16/9;
        width: 55%;
        display: flex;
        margin: 0 auto;
    }
    
    .gameDescription {
        font-family: Roboto, 'Gill Sans';
        opacity: 0.6;
        margin: 40px 0 20px 10vw;
        width: 70%;
        height: max-content;
        font-size: medium;
        line-height: 1.5;
    }
}

/*------------------------ Mobile ------------------------ */

@media (max-aspect-ratio: 4/3) {
    #initialLogo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: rgb(27, 27, 27);
        background-image: url("../imgs/Logo.png");
        background-size: min(35%, 100px);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        animation: hideLogo linear 1.2s forwards;
        z-index: 100;
    }
    @keyframes hideLogo {
        0%, 70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #mainIndex {
        height: 100%;
        width: min(100%, 320px);
        padding: 0;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        top: 0;
        left: auto;
        position: fixed;
        z-index: 0;
        margin: 0 auto;
    }
    #introTextContainer {
        height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -100px auto 0;
    }
    .redText {
        color: #af6969;
    }
    .blackText {
        color: #1b1b1b;
    }
    .whiteText {
        color: #dcdcdc;
    }
    .boldText {
        font-weight: bolder;
    }
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 45px;
    }
    
    h2 {
        font-family: Roboto, 'Gill Sans';
        font-size: 30px;
    }
    
    p {
        font-family: Roboto, 'Gill Sans';
        margin: 0;
        font-size: 12px;
        width: max-content;
        height: max-content;
    }

    #homeTitle, #homeSubtitle, #homeText {
        width: 100%;
        margin: 0 0 20px;
    }
    
    #reachOut {
        text-decoration: none;
        margin: 25px auto 0;
        border: 1px rgb(220, 220, 220) solid;
        background-color: transparent;
        width: 90px;
        font-size: 13px;
        color: rgb(220, 220, 220);
        aspect-ratio: 3;
        font-family: Helvetica, Arial, sans-serif;
        border-radius: 45px;
        padding: 0;
        animation: unhoverReachOut linear 0.1s forwards;
    }
    #reachOut:hover {
        cursor: pointer;
        animation: hoverReachOut linear 0.1s forwards;
    }
    #reachOut:active {
        animation: unhoverReachOut linear 0.1s forwards;
    }
    @keyframes hoverReachOut {
        from {  background-color: transparent;
                color: rgb(220, 220, 220);
                border: 1px rgb(220, 220, 220) solid;}
    
        to {    background-color: rgb(220, 220, 220);
                color: #202020;
                border: none;}
    }
    @keyframes unhoverReachOut {
        from {  background-color: rgb(220, 220, 220);
                color: #202020;
                border: none;}
    
        to {    background-color: transparent;
                color: rgb(220, 220, 220);
                border: 1px rgb(220, 220, 220) solid;}
    }
    
    #profilePic {
        width: 200px;
        height: 200px;
        margin: 0;
        border-radius: 50%;
        box-shadow: 0 0 10px 2px rgb(0, 0, 0), 0 0 0 10px rgb(175, 105, 105);
    }
    #arrowsHome {
        display: none;
    }
    .arrowsContainer {
        width: 100%;
        height: 33px;
        margin-top: -96px;
    }
    .arrow {
        height: 100%;
        aspect-ratio: 1;
        border-right: 3px solid;
        border-bottom: 3px solid;
        transform: rotate(45deg);
        margin: -22px auto 0;
        opacity: 0;
    }
    #arrow1 {
        animation: arrowGlow 2s linear infinite;
    }
    #arrow2 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.3s;
    }
    #arrow3 {
        animation: arrowGlow 2s linear infinite;
        animation-delay: 0.6s;
    }
    @keyframes arrowGlow {
        0%, 40%, 100% { opacity: 0; }
        20% { opacity: 1; }
    }
    
    #mainCoversContainer {
        position: fixed;
        width: 100%;
        height: 0;
        top: 0;
        z-index: 1;
    }
    .mainCovers {
        position: relative;
        width: 200%;
        height: 33vh;
        background-color: rgb(175, 105, 105);
        transform: rotate(-15deg);
        margin-top: 0.65%;
        left: 110%;
        transform-origin: -75% 0%;
        animation: mainCovers linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
    .mainCovers:first-child {
        margin-top: 10vw;
    }
    @keyframes mainCovers {
        from { 
            translate: 0 0; 
            background-color: rgb(175, 105, 105);
        }
        to {
            translate: -180vw 48.15vw;
            background-color: #1b1b1b;
        }
    }
    
    .blackBg {
        background-color: #1b1b1b;
    }
    .redBg {
        background-color: rgb(175, 105, 105);
    }
    .whiteBg {
        background-color: rgb(220, 220, 220);
    }
    #aboutMeContainer {
        width: 320px;
        height: max-content;
        margin: 1300px auto 0;
        scale: 1;
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        animation: popElement linear forwards;
        animation-timeline: view(220px 220px);
        z-index: 2;
    }
    #aboutMeTextContainer {
        width: 80%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        padding: 40px 0 22px;
        margin: 0;
    }
    .aboutMeText {
        display: none;
        margin-top: 0px;
        height: 80px;
        line-height: 1.5;
    }
    #aboutMePPic {
        width: 100%;
        height: 320px;
        margin: -10px 0 -20px;
        border-radius: 0;
        box-shadow: none;
        z-index: 5;
    }
    
    #aboutMeText1 {
        display: block;
    }
    
    #projectsContainer {
        width: 100%;
        height: 440px;
        margin: 250px auto 0;
        z-index: 2;
    }
    #projectsTitle {
        position: sticky;
        top: 20px;
        animation: popShowElement linear forwards;
        animation-timeline: view(100px 100px);
        opacity: 0;
        scale: 1;
        margin: 0 0 50px 10%;
    }
    .projects {
        text-decoration: none;
        width: 100%;
        height: 160px;
        scale: 1;
        opacity: 0;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
        border: none;
        animation: popElement linear forwards;
        animation-timeline: view(225px 75px);
    }
    #project2 {
        margin: 0;
    }
    .projectsImg {
        display: none;
    }
    .projects:hover .projectsText {
        color: rgb(220, 220, 220);
    }
    .projects:hover .projectsT3 {
        color: rgb(220, 220, 220);
    }

    .arrowProjects {
        height: 70%;
        aspect-ratio: 1;
        border-right: 2.5px solid;
        border-bottom: 2.5px solid;
        transform: rotate(45deg);
        margin: -12px auto 0;
        opacity: 0;
    }
    .projects:hover .arrowProjects {
        border-color: white;
    }
    #project2:hover .projectsText {
        display: none;
        
    }
    .projects:hover .projectsText {
        display: none;
    }
    #project2:hover .projectsT3 {
        color: rgb(175, 105, 105);
    }
    #project2:hover .arrowProjects {
        border-color: rgb(175, 105, 105);
    }
    .projects:hover {
        margin: 5px 0;
        background-color: transparent;
        box-shadow: 0 0 0 5px rgb(220, 220, 220);
    }
    #project2:hover {
        background-color: transparent;
        box-shadow: 0 0 0 5px rgb(175, 105, 105);
    }
    .projectsT3 {
        text-align: start;
        width: 50%;
        margin: 0 0 0 min(90px, 10%);
        font-size: 27px;
    }
    .projectsText {
        display: none;
    }
    @keyframes popElement {
        0%, 100% {
            scale: 0.8;
            opacity: 0;
        }
        7%, 93% {
            scale: 1;
            opacity: 1;
        }
    }
    
    .borderWhite {
        border-color: rgb(220, 220, 220);
    }
    .borderBlack {
        border-color: #1b1b1b;;
    }
    .borderRed {
        border-color: rgb(175, 105, 105);
    }
    
    .projectsArrowsContainer {
        position: absolute;
        transform-origin: 50% 0;
        top: 50%;
        height: 30px;
        aspect-ratio: 1;
        right: min(90px, 20%);
        transform: rotate(-90deg);
        scale: 1.2;
        margin: 0;
    }
    
    #skillsContainer {
        width: 100%;
        height: 440px;
        padding: 0;
        margin: 350px auto 0;
        z-index: 2;
    }
    #skillsTitle {
        position: sticky;
        top: 20px;
        animation: popShowElement linear forwards;
        animation-timeline: view(100px 100px);
        opacity: 0;
        scale: 1;
        margin: 0 0 50px 10%;
    }
    @keyframes popShowElement {
        0% {
            scale: 0.8;
            opacity: 0;
        }
        5%, 100% {
            scale: 1;
            opacity: 1;
        }
    }
    .skillSlider {
        text-decoration: none;
        width: 100%;
        height: 160px;
        margin: 0;
        scale: 1;
        opacity: 0;
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: none;
        translate: 0 0;
        animation: popElement linear forwards;
        animation-timeline: view(225px 75px);
    }
    .skillsT3 {
        width: 100%;
        margin: 0 0 0 min(10%, 90px);
        font-size: x-large;
    }
    .skillsText {
        margin: -37px 0 0 10%;
        line-height: 1.3;
    }
    .skillsImages {
        position: absolute;
        margin-left: 85%;
        margin-top: -70px;
        height: 40px;
        width: 40px;
    }

    #reachOutContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 350px auto 0;
        contain: paint;
        scale: 0.8;
        opacity: 0;
        animation: popElement linear forwards;
        animation-timeline: view(225px 75px);
        z-index: 2;
    }
    @keyframes popElement {
        0%, 100% {
            scale: 0.8;
            opacity: 0;
        }
        7%, 93% {
            scale: 1;
            opacity: 1;
        }
    }
    #reachOutSlide {
        width: 100%;
        height: 100%;
        margin: 0 auto 50px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        translate: 0 0;
        background-color: rgba(0, 0, 0, 0);
    }
    #reachOutT1 {
        width: 80%;
        height: 81px;
        margin: 0 auto 60px;
        box-shadow: 0 4px 0 -1px rgb(175, 105, 105);
    }
    .reachOutTextContainer {
        margin: 20px auto 0;
        width: 100%;
        height: 100px;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .reachOutT2 {
        width: 100%;
        margin: 0 0 0 min(90px, 10%);
        font-size: 30px;
    }
    .reachOutText {
        margin: -30px 0 0 min(90px, 10%);
        width: 100%;
        font-size: medium;
    }

    .reachOutTextContainer:hover {
        animation: growElement 0.1s linear forwards;
    }
    .reachOutTextContainer:hover .reachOutT2 {
        animation: whiteElement 0.1s linear forwards;
    }
    .reachOutTextContainer:active {
        animation: minElement 0.1 linear;
    }
    @keyframes growElement {
        from {scale: 1;}
        to {scale: 1.2;}
    }
    @keyframes whiteElement {
        from {color: rgb(175, 105, 105);}
        to {color: rgb(220, 220, 220);}
    }
    @keyframes minElement {
        from {scale: 1.2;}
        to {scale: 1;}
    }
    
    #downloadButton {
        position: sticky;
        width: 45px;
        scale: 1;
        aspect-ratio: 1;
        border-radius: 50%;
        margin: 0 auto 25px;
        top: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: opacity 0.2s, scale 0.1s;
        background-color: rgba(175, 105, 105, 0);
        animation: fadeInDownload linear forwards;
        animation-timeline: view();
        animation-range: entry;
    }
    @keyframes fadeInDownload {
        0% {
            background-color: rgba(175, 105, 105, 0);
        }
        100% {
            background-color: rgba(175, 105, 105, 1);
        }
    }
    #downloadButton:hover {
        opacity: 1;
    }
    #downloadButton:active {
        opacity: 0.7;
        scale: 0.9;
    }
    #downloadImg {
        width: 50%;
        height: 50%;
    }
    
    .mainProjects {
        position: fixed;
        top: 0;
        width: min(100%, 320px);
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation: fadeOutWebsites linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
    @keyframes fadeOutWebsites {
        0% {
            opacity: 1;
            scale: 1;
        }
        50%, 100% {
            opacity: 0;
            scale: 0.6;
        }
    }
    .projectsT1 {
        width: 100%;
        margin: 100px auto 0;
        font-size: xx-large;
        text-align: center;
    }
    .projectsTextMain {
        width: 100%;
        margin: -100px auto 0;
        opacity: 0.4;
        display: flex;
        justify-content: center;
        font-size: medium;
        text-align: center;
    }
    
    .firstProjectsContainer {
        width: min(100%, 460px);
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 650px auto 0;
        opacity: 0;
        scale: 0.9;
        animation: showUpWebsite linear forwards;
        animation-timeline: view(75px 75px);
    }
    .projectsT2 {
        width: 100%;
        margin: 0 0 30px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .award {
        width: 60px;
        aspect-ratio: 1;
        margin: 0 20px 0 0;
        filter: brightness(0) saturate(100%) invert(76%) sepia(74%) saturate(1430%) hue-rotate(348deg) brightness(92%) contrast(85%);
    }
    
    #iframesContainer {
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    #laptopTemplate {
        height: 200px;
        aspect-ratio: 16/9;
        margin: 50px auto 100px;
        box-shadow: 0 34px 7px -30px rgba(0, 0, 0, 0.8);
    }
    
    #mobileTemplate {
        height: 500px;
        aspect-ratio: 9/16;
        box-shadow: 0 49px 7px -45px rgba(0, 0, 0, 0.8);
        margin-bottom: 50px;
    }
    #laptopIframe {
        scale: 0.138;
        height: 1200px;
        width: 1920px;
        position: absolute;
        margin-left: 0px;
        margin-top: -609px;
        border-radius: 10px;
    }
    #mobileIframe {
        scale: 0.747;
        height: 638px;
        width: 311px;
        position: absolute;
        margin-left: 0;
        margin-top: 300px;
        border-radius: 50px;
    }
    .textWeb {
        font-family: Roboto, 'Gill Sans';
        font-size: medium;
        text-decoration: none;
        opacity: 0.5;
        width: max-content;
        margin: 0 auto;
        display: flex;
        transition: opacity 0.2s;
    }
    .textWeb:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    .projectsContainer {
        width: min(100%, 500px);
        height: max-content;
        margin: 75px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        opacity: 0;
        scale: 0.9;
        padding: 0;
        animation: showUpWebsite linear forwards;
        animation-timeline: view(75px 75px);
    }
    @keyframes showUpWebsite {
        0%, 100% {
            opacity: 0;
            scale: 0.9;
        }
        20%, 80% { scale: 1;}
        35%, 65% { opacity: 1; }
    }
    #veggieFrame {
        scale: 0.9;
        width: min(100%, 995px);
        aspect-ratio: 199/142;
        border: none;
        overflow: hidden;
        display: flex;
        margin: 0 auto 50px;
        padding: 0;
        box-shadow: 0 0 0 2px rgb(220, 220, 220), 0 22px 7px -7px rgba(0, 0, 0, 0.8);
        border-radius: 7px;
    }
    
    .endContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        height: 1100px;
        contain: paint;
    }
    .arrowDown {
        height: 180px;
        aspect-ratio: 1;
        display: flex;
        margin-top: -180px;
        position: sticky;
        top: 0px;
    }
    .textComingSoon {
        width: 100%;
        margin-top: 600px;
        opacity: 1;
        display: flex;
        font-size: medium;
        justify-content: center;
    }
    
    .returnButton {
        font-family: Roboto, 'Gill Sans';
        text-decoration: none;
        opacity: 0.5;
        margin-top: -450px;
        position: sticky;
        top: 450px;
        width: max-content;
        height: max-content;
        animation: appearDelay linear;
        animation-timeline: view(628px 495px);
        transition: opacity 0.2s;
        color: rgba(220, 220, 220, 0);
        font-size: medium;
    }
    @keyframes appearDelay {
        0% { color: rgba(220, 220, 220, 0); }
        99%{ color: rgba(220, 220, 220, 1); }
    }
    .returnButton:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    #imgContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: max-content;
        padding: 0;
    }
    
    .imgMonster {
        display: none;
        width: 100%;
        aspect-ratio: 0.992;
        border-radius: 15px;
        box-shadow: 0 18px 7px -15px rgba(0, 0, 0, 0.6);
        margin: 0 auto;
    }
    .imgMonster:first-child {
        display: block;
        margin-left: 0px;
    }
    
    .noRigContainer {
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto 100px;
        align-items: center;
    }
    #traditionalGif {
        width: 80%;
       height: auto;
    }
    #traditionalSpriteSheet {
        width: 80%;
        aspect-ratio: 1.4144;
    }

    .rigGif {
        display: none;
        width: 80%;
        aspect-ratio: 3/4;
        border-radius: 37px;
        box-shadow: 0 34px 7px -30px rgba(0, 0, 0, 0.6);
    }
    .rigGif:first-child {
        display: block;
    }
    
    .img3DContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin: 0 auto 100px;
    }
    
    .HD3DImages {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 19px;
        box-shadow: 0 19px 7px -15px rgba(0, 0, 0, 0.6);
    }
    .geometricImg {
        display: none;
    }
    .geometricImg:first-child {
        display: block;
    }
    .organicImg {
        display: none;
    }
    .organicImg:first-child {
        display: block;
    }
    
    #ownWorksContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .ownWorksImgs {
        box-shadow: 0 19px 7px -15px rgba(0, 0, 0, 0.6);
        display: none;
    }
    .ownWorksImgs:first-child {
        display: block;
    }
    .littleCars {
        background-color: #000000;
    }
    
    .video {
        border: none;
        aspect-ratio: 16/9;
        width: 100%;
        display: flex;
        margin: 50px auto;
    }
    
    .gameDescription {
        font-family: Roboto, 'Gill Sans';
        opacity: 0.6;
        margin: 0 auto;
        width:90%;
        height: max-content;
        font-size: small;
        line-height: 1.5;
    }

    .dotsContainer {
        display: flex;
        margin-top: 45px;
        margin-bottom: -20px;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
    }
    .dotButton, .dotButtonGif, .dotButtonGeo, .dotButtonOrg, .dotButtonCar {
        border: none;
        width: 20px;
        height: 20px;
        scale: 0.5;
        border-radius: 50%;
        margin-left: 15px;
        background-color: #dcdcdc;
        opacity: 0.25;
        transition: opacity 0.2s;
    }
    .dotButton:first-child, .dotButtonGif:first-child {
        margin-left: 0;
    }
    .disabled {
        opacity: 1;
    }
}