:root {
    --translucidGrey: /*rgba(255, 255, 255, 1);*/rgba(0, 0, 0, 0.1);
    --transGreyHover: rgba(0, 0, 0, 0.3);
    --transGreyClick: rgba(255, 255, 255, 0.7);

    --white: rgba(255, 255, 255, 0.6);
    --toRed: invert() brightness(23%) sepia(100%) hue-rotate(320deg) saturate(500%);
    --hoverText: rgba(0, 0, 0, 0.4);
    --clickText: rgba(255, 255, 255, 0.5);
    --hoverTextDark: rgba(255, 255, 255, 0.5);
    --clickTextDark: rgba(255, 255, 255, 0.1);
}

@media (max-width: 109px) {
    body {
        display: none;
    }
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    letter-spacing: 0.7px;
    margin: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.7px;
}

button:hover, .checkbox:hover {
    cursor: pointer;
}

button:active {
    cursor: default;
}

#banner {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

#logo {
    width: 400px;
    aspect-ratio: 6.21;
    margin-left: 20px;
}

#menuContainer {
    z-index: 10;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
#menuContainer:hover {
    animation: hoverMenuContainer 0.1s linear forwards;
}
@keyframes hoverMenuContainer {
    from { background-color: rgba(255, 255, 255, 0.6); }
    to { background-color: rgba(255, 255, 255, 1); }
}

#menuIcon {
    width: 40px;
    aspect-ratio: 1;
    margin: 10px 10px 10px 10px;
    display: none;
}
#menuIconHidden {
    height: 60%;
    aspect-ratio: 1;
    margin: 10px auto 0;
    display: none;
}

.menuIcon {
    filter: var(--toRed);
    width: 15px;
    aspect-ratio: 1;
}

@media (max-width: 700px) {
    #menuIcon {
        display: block;
    }
    #banner {
        display: none;
    }
}
@media (max-width: 670px) {
    .menuText {
        display: none;
    }
}
@media (max-width: 300px) {
    #menuContainer {
        margin-top: -10px;
        padding-top: 10px;
        display: block;
        justify-content: center;
    }
    #menuIcon {
        display: none;
    }
    #menuIconHidden {
        display: block;
    }
    #banner {
        display: flex;
    }
    #logo {
        display: none;
    }
}

#menuInit {
    width: 100%;
    height: 100%;
    display: flex;
}

.menuButton {
    background-color: transparent;
    color: black;
    width: 25%;
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backMenuButton {
    color: black;
    width: 0%;
    height: 100%;
    border-bottom: 2px brown solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s, color 0.2s;
}

.menuButton:hover .backMenuButton {
    color: var(--hoverText);
}
.menuButton[aria-disabled="true"] .backMenuButton {
    width: 100%;
    color: var(--hoverText);
}

.menuButton:active {
    color: var(--clickText);
}

.menuText {
    width: auto;
    font-size: 13px;
    font-weight: bolder;
    white-space: nowrap;
    margin-left: 10px;
}

#previewBackground {
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s, filter 0.2s;
}

#imagePreview {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    width: 0;
    transform: translate(-50%, -50%);
    aspect-ratio: 4/3;
    top: 50%;
    left: 50%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.3s;
    transition-timing-function: ease-in-out;
}

#welcome {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    animation-name: show-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

#title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-top: max(12%, 50px);
    margin-bottom: 40px;
}
#menuText {
    display: block;
    width: 60%;
    height: max-content;
    margin-top: 0px;
    margin-bottom: 12%;
    text-align: justify;
    font-weight: bolder;
    color: rgba(100, 100, 100, 1);
}
@media (max-width: 300px) {
    #menuText {
        text-align: start;
    }
}

#imagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    animation-name: show-up;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.imageProjects {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: max(32.5%, 100px);
    aspect-ratio: 4/3;
    margin: max(0.1%, 1px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

.imageProjects:hover {
    opacity: 0.7;
}

#viewMore {
    background: none;
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewMoreText {
    width: 0%;
    height: 100%;
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 2px brown solid;
    transition: width 0.5s, color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#viewMore:hover #viewMoreText {
    width: 100%;
    color: var(--hoverText);
}

@keyframes hideTitleContainerAnim {
    0%      {margin-top: 0%;}
    100%    {margin-top: -250px; display: none;}
}

@keyframes showTitleContainerAnim {
    0%      {margin-top: -250px;}
    100%    {margin-top: 0%; display: block;}
}

#projectsTitleContainer {
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 10px;
}

@keyframes goMidTitleAnim {
    0%      {right: -100%;  opacity: 0;}
    100%    {right: 0%;     opacity: 1;}
}

@keyframes leaveMidTitleAnim {
    0%      {right: 0%;     opacity: 1;}
    100%    {right: 100%;   opacity: 0;}
}

.projectsTitle {
    background-color: var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

#dotsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin-top: -32px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

@media (max-width: 510px) {
    #dotsContainer {
        margin-top: -45px;
    }
}

.projectsDot {
    background: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: min(46%, 100px);
    height: 20px;
    margin: 0 2%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    transition: color 0.2s;
}

.projectsDot:hover {
    background: none;
    color: var(--hoverTextDark);
}

.projectsDot:active {
    background: none;
    color: var(--clickTextDark);
}

.projectsDot[aria-disabled="true"] {
    background: none;
    color: var(--hoverTextDark);
}

@media (max-width: 700px) {
    .titleText {
        font-size: 16vw;
    }
    .projectsDot {
        font-size: 15px;
    }
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid brown 2px;
    animation-name: show-up-projects;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.projectsImages {
    width: max(32.5%, 300px);
    aspect-ratio: 4/3;
    margin: max(0.1%, 1px);
    border: none;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

.projectsImages:hover {
    opacity: 0.7;
}

#catalogueTitle {
    background-color: var(--white);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: show-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

#settingsContainer {
    display: flex;
    width: 100%;
    height: 35px;
    animation-name: show-left;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    margin-top: 20px;
}

.settings {
    background-color: var(--white);
    position: relative;
    border: none;
    width: 150px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderSettings {
    display: block;
    font-weight: bolder;
    font-size: min(14px, 8vw);
    width: 0%;
    height: 80%;
    border-bottom: 2px solid brown;
    transition: width 0.3s, color 0.2s, height 0.3s;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsArrow {
    margin-left: 7px;
    filter: var(--toRed);
    transition: transform 0.2s;
}

.settings:hover .borderSettings {
    width: 80%;
    height: 80%;
    color: var(--hoverText);
}

.settings:hover .settingsArrow {
    transform: rotateZ(180deg);
}

.settings:active .borderSettings {
    color: var(--clickText);
    width: 100%;
    height: 100%;
}

#filtersSettings {
    background-color: var(--white);
    display: none;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: max-content;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
.filterSector {
    width: max(24.5%, 200px);
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sectorTitle {
    border-bottom: 1px solid brown;
    font-size: 17px;
    margin: 15px 0 10px 0;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.optionsContainer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

.checkboxContainer {
    width: min(120px, 100%);
    height: 30px;
    display: flex;
    align-items: center;
    margin: 2px auto 0 9%;
}

.checkbox {
    padding: 0;
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    background-color: white;
    border: 1px solid grey;
    transition: border 0.2s;
    opacity: 1;
    transition: opacity 0.2s;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.checkbox:hover {
    opacity: 0.6;
}

.checkboxText {
    position: relative;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    margin-left: 5px;
    height: auto;
    color: black;
    top: 0px;
}

#auxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 97%;
    height: max-content;
    margin: 10px auto;
}

.pairAuxContainer {
    width: min(310px, 100%);
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.auxButtons {
    background-color: var(--white);
    position: relative;
    border: 1px solid brown;
    border-radius: 10px;
    width: min(145px, 100%);
    height: 35px;
    margin: 5px 10px 5px 0;
    font-weight: bolder;
    transition: opacity 0.2s, border 0.1s;
}

.auxButtons:hover {
    opacity: 0.6;
    border-width: 2px;
}

.auxButtons:active {
    opacity: 0.2;
    border-width: 2px;
}

#sortSettings {
    background-color: var(--white);
    display: none;
    width: 150px;
    height: 0px;
    margin-left: 155px;
    transition: height 0.3s;
    overflow: hidden;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 350px) {
    #sortSettings {
        margin-left: 0;
        width: 98%;
    }
}

.sortText {
    background-color: var(--white);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 38px;
    border: none;
}

.sortBorder {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    width: 100%;
    height: 0%;
    color: black;
    text-indent: 10px;
    border-left: 2px solid brown;
    white-space: nowrap;
    transition: height 0.3s, color 0.2s;
}

.sortText:hover .sortBorder {
    height: 55%;
    color: var(--hoverText);
}

.sortText:active .sortBorder {
    color: var(--clickText);
}

#catalogueSection {
    display: block;
    width: 100%;
    height: max-content;
    margin: 0;
}

#catalogueContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 90%;
    height: max-content;
    margin: 0 auto;
    animation-name: show-up;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.catalogueImage {
    width: max(23%, 100px);
    aspect-ratio: 1.5;
    margin: 12px 1%;
    border: 1px solid darkgray;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}

#notResults {
    width: 100%;
    height: max-content;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

/* Aux element */
.catalogueImageAux {
    text-decoration: none;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: min(100%, 300px);
    aspect-ratio: 1.5;
    margin: 12px 1%;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: block;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
.sampleTextContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: min(120px, 45vw);
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.auxP {
    text-decoration: none;
    width: 100%;
    height: auto;
    font-size: min(15px, 6vw);
    font-weight: bolder;
    text-justify: auto;
    text-indent: min(15px, 6vw);
    margin: 0;
}

#questionsContainer {
    width: 85%;
    height: max-content;
    display: block;
    margin: 40px auto 0;
    padding: 30px 0 20px 4%;
    border-left: max(1.5vw, 2px) solid brown;
    animation-name: show-up-questions;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

#questionsTitle {
    width: 100%;
    height: max-content;
    color: black;
    font-size: min(45px, 15vw);
    margin: 0 0 30px 4%;
}

#questionsText {
    width: 100%;
    height: max-content;
    text-decoration: none;
    color: black;
    font-size: min(20px, 10vw);
    font-weight: bolder;
    margin-bottom: 30px;
}

#emailIcon, #whatsappIcon {
    filter: var(--toRed);
    width: min(80px, 50%);
    aspect-ratio: 1;
    margin: 0 50px 0 0;
}

#emailContainer, #whatsappContainer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: min(30px, 10vw);
}

#emailText {
    width: max-content;
    height: min(50px, 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.findUsBorder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: max-content;
    border-bottom: 2px solid brown;
    text-decoration: none;
    color: black;
    font-size: min(30px, 7vw);
    font-weight: bolder;
    white-space: nowrap;
    transition: width 0.3s, color 0.2s;
}

#emailText:hover .findUsBorder {
    width: 100%;
    color: var(--hoverText);
}

#emailText:active .findUsBorder {
    width: 100%;
    color: var(--clickText);
}

#whatsappText {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.whatsappNum {
    width: max-content;
    height: min(50px, 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 20px 0 0;
    padding-right: 20px;
}

.rightBorder {
    border-right: 1px solid brown;
}

.whatsappNum:hover .findUsBorder {
    width: 100%;
    color: var(--hoverText);
}

.whatsappNum:active .findUsBorder {
    width: 100%;
    color: var(--clickText);
}


#locationContainer {
    width: 85%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 80px auto 150px;
    border-right: max(1.5vw, 2px) solid brown;
    padding: 0 3% 20px 0;
    animation-name: show-up-location;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

#map {
    border: 0;
    border-radius: 0;
    margin: 0 min(110px, 7vw) 0 0;
    height: 450px;
    width: 45%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}

#textLocationContainer {
    width: 40%;
    height: 90%;
    border-left: 1px solid brown;
    padding: 0 0 0 min(80px, 2vw);
    margin: 0;
}

#locationTitle {
    width: 85%;
    height: max-content;
    text-align: right;
    color: black;
    font-size: min(45px, 15vw);
    margin: 20px 4% 30px 0px;
}

#locationText {
    text-decoration: none;
    width: 100%;
    height: max-content;
    text-align: right;
    color: black;
    font-size: min(20px, 10vw);
    font-weight: bolder;
    margin-bottom: 45px;
}

#scheduleTitle {
    width: 100%;
    height: max-content;
    text-align: right;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

#scheduleContainer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.days {
    width: 80px;
    height: max-content;
    text-align: right;
    font-size: 17px;
    color: black;
    font-weight: bolder;
    margin: 0 10px 5px 5vw;
}

.hours {
    width: 205px;
    height: max-content;
    text-align: left;
    font-size: 17px;
    color: rgba(150, 150, 150, 1);
    margin: 0 0 5px 0;
    font-weight: bolder;
}
.closed {
    text-align: right;
}

@media (max-width: 1070px) {
    .days {
        width: 80px;
        margin-left: 0;
    }
}

@media (max-width: 905px) {
    #map {
        width: 100%;
        height: 70vw;
        margin: 20px 0 0 0;
    }

    #textLocationContainer {
        width: 100%;
        border: none;
    }

    .days {
        width: 80px;
        margin-left: 22vw;
        font-size: max(2vw, 15px);
    }

    .hours {
        width: 183px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .days {
        width: 80px;
        margin-left: 2.2vw;
        font-size: max(2vw, 15px);
    }
}

.footerContainer {
    background-color: brown;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 50px;
}

#footerEmail, #footerWhatsappContainer, #footerPhone {
    width: max-content;
    height: max-content;
    margin: 10px min(10px, 2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footerIcon {
    width: 25px;
    aspect-ratio: 1;
    filter: invert();
    margin: 10px 20px 0 0;
}

.footerBorderContainer {
    width: max-content;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0 0 0;
}

.whatsappFooter {
    width: max-content;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-right: min(20px, 5vw);
    margin: 10px min(20px, 2vw) 0 0;
}

.whatsappFooterBorder {
    border-right: 1px solid white;
}


.footerBorder {
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white;
    transition: width 0.3s;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(15px, 8vw);
    font-weight: bolder;
    color: white;
}

.footerBorderContainer:hover .footerBorder {
    width: 100%;
}

.whatsappFooter:hover .footerBorder {
    width: 100%;
}

/* Palette */
#bannerPalette {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#logoPalette {
    width: 400px;
    aspect-ratio: 6.21;
    margin-left: 20px;
}

#logoIconPalette {
    width: 70px;
    aspect-ratio: 1;
    display: none;
    margin: 0 auto;
}

#sampleContainer {
    width: 85%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 70px auto 70px;
    border-right: max(1.5vw, 2px) solid brown;
    padding: 0 3% 20px 0;
    animation-name: show-up-location;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

#sampleImage {
    margin: 0 min(80px, 7vw) 0 0;
    width: 45%;
    aspect-ratio: 4/3;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: min(30px, 6vw);
}

#sampleInfoContainer {
    width: 40%;
    height: 90%;
    border-left: 1px solid brown;
    padding: 0 0 0 max(65px, 1vw);
    margin: 0;
}

#sampleTitle {
    width: 85%;
    height: max-content;
    text-align: right;
    color: black;
    font-size: min(45px, 15vw);
    margin: 20px 4% 30px 0px;
}

#sampleDescription {
    text-decoration: none;
    width: 100%;
    height: max-content;
    text-align: left;
    color: black;
    font-size: min(20px, 10vw);
    font-weight: bolder;
    margin-bottom: 45px;
}

.pairContainer {
    width: 100%;
    text-align: right;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.category {
    width: max-content;
    height: max-content;
    text-align: right;
    font-size: min(17px, 10vw);
    color: black;
    font-weight: bolder;
    margin: 0 10px 0 0;
}

.categoryValue {
    width: max-content;
    height: max-content;
    text-align: left;
    font-size: min(17px, 10vw);
    color: rgba(150, 150, 150, 1);
    margin: 0;
    font-weight: bolder;
}

#suggestionContainer {
    width: 95%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    animation-name: show-up-location;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.suggestedImages {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: max(16%, 120px);
    aspect-ratio: 4/3;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
    margin: 0 2px 10px 2px;
    border-radius: min(15px, 6vw);
}

.suggestedBackground {
    display: block;
    text-decoration: none;
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
    background-position: 0 -200px;
    background-attachment: local;
    background-repeat: no-repeat;
    width: 100%;
    height: 86%;
    transition: background-position 0.2s, color 0.3s;
    color: transparent;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 10% 0 0 0;
    border-radius: min(15px, 6vw);
}

.suggestedBackground:hover {
    background-position: 0 0;
    color: white;
}

@media (max-width: 1160px) {
    #sampleInfoContainer {
        width: 100%;
        border: none;
        padding: 0;
    }
    #sampleImage {
        width: 100%;
        aspect-ratio: 4/3;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 450px) {
    #logoPalette {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 250px) {
    #logoPalette {
        display: none;
    }

    #logoIconPalette {
        display: block;
    }
}

@keyframes show-up {
    0% {margin-top: 100%; opacity: 0;}
    60% {opacity: 0;}
    100% {margin-top: 0px; opacity: 1;}
}
@keyframes show-up-projects {
    0% {margin-top: 100%; opacity: 0;}
    60% {opacity: 0;}
    100% {margin-top: 20px; opacity: 1;}
}

@keyframes show-up-questions {
    0% {margin-top: 100%; opacity: 0;}
    60% {opacity: 0;}
    100% {margin-top: 40px; opacity: 1;}
}

@keyframes show-up-location {
    0% {margin-top: 100%; opacity: 0;}
    60% {opacity: 0;}
    100% {margin-top: 80px; opacity: 1;}
}

@keyframes show-left {
    0% {margin-left: 100%; opacity: 0;}
    60% {opacity: 0;}
    100% {margin-left: 0; opacity: 1;}
}